{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}
<div class="container">
    <h1>{{ page.title }}</h1>
    <div class="intro">{{ page.intro|richtext }}</div>
    <div class="list-group">
        {% for pelicula in peliculas %}
        <a href={{pelicula.link}} class="list-group-item list-group-item-action" aria-current="true">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{pelicula.title}}</h5>
            <small>{{pelicula.year}}</small>
          </div>
          <p class="mb-1"><img src={{pelicula.imagen}} class="img-thumbnail"></p>
          <small>{{pelicula.rating}}</small>
        </a>
        {% endfor %}
    </div>

{% if peliculas.paginator.count > 1 %}
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                {% include "includes/pagination.html" with subpages=peliculas %}
                </div>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}